*{padding: 0; margin: 0; user-select: none;}
body {margin: 0 auto; 
    background-color: #FFE4E1; cursor: default; text-align: center;
    display: grid;
    grid-template-areas: "header"
                        "nav "
                        "main";
}

header {grid-area: header; font-family: Arial, Helvetica, sans-serif; font-size: 41px;}

#next, #home {color: black; text-decoration: none; font-size: 35px;}
#home { font-size: 20px;}

main {grid-area: main; font-family: Arial, Helvetica, sans-serif; font-size: 40px; }

.imgv {height: 100%;}
.imgh {height: 100%;}

nav {grid-area: nav; text-align: center;
  cursor: default;
  color: black;
  font-size: 20px;
}

@media screen and (max-width: 600px)
{.imgh, .imgv
{width: 98% ; height: auto; }
}





